<h1>Add a new message</h1>
<a href='/'>Cancel</a>
<form method="POST" action='/new'>
    <input type='text' placeholder='Name' name="name">
    <input type='text' placeholder='Message' name="message">
    <button type="submit">Submit</button>
</form>